<div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a [routerLink]="['/product', product.id]" routerLinkActive="router-link-active" >
        <img [src]="product.images[0]" alt="image">
    </a>
    <div class="px-5 pb-3">
        <a href="#">
            <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">{{ product.title }}</h5>
            <h3 class="text-sm font-semibold tracking-tight text-gray-700 dark:text-gray-500">{{ product.creationAt | timeAgo}}</h3>
        </a>
        <div class="flex items-center justify-between">
            <span class="text-3xl font-bold text-gray-900 dark:text-white">{{ product.price | currency: 'S/ ':'symbol':'1.2'}}</span>
            <a href="#" (click)="addToCartHandler()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add to cart</a>
        </div>
    </div>
</div>